# Virtual environment
.venv/
venv/

# Dataset / database files
data/
*.h5
*.hdf5

# Python cache files
__pycache__/
*.py[cod]
src/**/__pycache__/

# Large model files (PyTorch checkpoints > 100MB)
*.pt

# Large PDF files
*.pdf

